.profile{
  float: left;
}


#test {
	text-align: center;
	margin-left:70px;
  margin-bottom: 60px;

}

.page2{
	padding: 20px;
}

h1{
  text-align: center;
  color:#FFFF99;
  font-size: 60px;
  display:none;
  width:600px;
  font-family: 'Roboto Slab', serif;
}

.title{
	font-size:70px;
  margin-left: 200px;
}

h3{
  text-align: center;
  font-size: 60px;
  color: black;
  display:none;
  width:600px;
  margin:auto;
  padding-left: 100px;
}

h4{
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: black;
  width:600px;
  margin:auto;
}

h5{
  text-align: center;
font-family:'Cormorant Garamond', serif;
 font-family: 'Dancing Script', cursive;
  font-size: 12px;
  color: black;
  width:600px;
  margin:auto;
}

#jolibouton{
	text-align: center;
	margin: auto;
      margin-top: 60px;
}


/* Footer CSS*/
#footer {
	background: white;
	padding: 65px 0 100px;
	text-align: center;
	font-size: 14px;
	color: #828a8c;
}
#footer a {
	color: #828a8c;
	cursor: pointer;
}
#footer a:hover {
	color: #fff;
}
#footer span {
	display: inline-block;
}
.footerlogo {
	display: inline-block;
	width: 187px;
	height: 100px;
	margin: 0 0 42px 0;
	padding-bottom: 220px;
}


.sociallinks {
	position: relative;
	z-index: 0;
}
.sociallinks::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #828a8c;
	top: 16px;
	left: 0px;
	z-index: 1;
}
.sociallinks a {
	display: inline-block;
	width: 31px;
	height: 31px;
	text-indent: -99999px;
	border-radius: 30px;
	overflow: hidden;
	margin: 0 13px;
	position: relative;
	z-index: 2;
	background: #263238;
}
.sociallinks a::after {
	content: '';
	width: 31px;
	height: 30px;
	position: absolute;
	z-index: 5;
	left: 0px;
	top: 0px;
	opacity: 0.5;
	transition: all .3s ease-in-out;
}
.icon-fb::after {
	background: #263238 url(images/icon-social.png) 0 0 no-repeat;
}
.icon-tw::after {
	background: #263238 url(images/icon-social.png) -57px 0 no-repeat;
}
.icon-in::after {
	background: #263238 url(images/icon-social.png) -112px 0 no-repeat;
}
.sociallinks a:hover::after {
	opacity: 1;
}

.flinks {
	margin: 0 0 5px 0;
}
.credits {
	font-size: 11px !important;
	text-transform: uppercase;
}
.sep {
	position: relative;
	z-index: 1;
	top: -4px;
	padding: 0 5px;
	font-weight: 600;
}

#footer p {
	font-size: inherit;
	line-height: inherit;
	margin: inherit;
	color: inherit;
	margin-top: 8px;
}

/* Page2 */

.tbgwrap { 
	padding-top: 15px;
    width: 400px;
    height: 440px;
    background-color: #fff;
    margin:auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border: 1px solid #c0c0c0;
     box-shadow: 8px 8px 8px #c0c0c0;
     }

.tphoto {
/*    width: 350px;
    height: 350px;
	margin: auto;
	overflow: hidden;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    box-shadow: 2px 2px 2px #c0c0c0;
    background-size: cover;
	background-repeat: no-repeat;*/
}
.tphoto img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:315px;
	height:315px;
	border:1px solid #a6a9aa;
	border-radius: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 7px 0px #cfcfcf;
}
.tname {
    text-align: center;
    font-size: 30px;
    font-family: 'Playfair Display SC', sans-serif;
}
.tjob { 
	text-align: center;
	font-weight: bold;
    font-size: 28px;
    font-family: 'Cormorant Garamond', sans-serif;
     }

.tdescription {
	
	font-family: 'Cormorant Garamond', serif;
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	/*width:315px;*/
	font-weight: bold;
}

.logo {

max-width: 600px;
    margin-top: -100px;
    margin-left: 120px;
}


.title2 {
    color:white;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-warning {
    color: #fff;
    background-color: red;
    border-color: red;
}

.btn-warning:hover {
    color: #fff;
    background-color: #B40431;
    border-color: #B40431;
}
.btn-danger {
    color: #fff;
    background-color: #FA58D0;
    border-color: #FA58D0;
  }


.btn-danger:hover {
    color: #fff;
    background-color: #2E9AFE;
    border-color: #2E9AFE;   
}






#people, .person {
  width: 250px;
  height: 265px;
}

#people {
  position: relative;
  margin: 0 auto;
}

.tbgwrap {
 
  background-color: #F2F2F2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.2);
  transition: all .1s linear;
  &:nth-child(1){
    z-index: 5;
    //animation: no 0.6s infinite;
  }
  &:nth-child(2){
    z-index: 4;
    top: 7px;
    transform: scale(0.98);
  }
  &:nth-child(3){
    z-index: 3;
    top: 14px;
    transform: scale(0.96);
  }
  &:nth-child(n+4){
    z-index: 2;
    transform: scale(0.7);
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
  }
}

.tbgwrap img {
  
  background: white;
       width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.tbgwrap span {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 10px;
  font: 16px "Open Sans";
  line-height: 30px;
  color: #555;
}

.tbgwrap span strong {
  font-weight: 600;
  color: #000;
}
