body{
  
  background-color: black;
}

img{
  max-width: 300px;
  max-height: 400px;
  float: center;
  border-radius: 50%;
}

.profile{
  float: left;
}



.column1{
  height: 600px;
background-image: url(http://i.imgur.com/T0onoJS.jpg);
background-color: black;
}


h1{
  text-align: center;
  color:beige;
  font-size: 80px;
  display:none;
  width:600px;
  margin:auto;
  font-family: 'Roboto Slab', serif;


}

h3{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: black;
  display:none;
  width:600px;
  margin:auto;

}

.job{
  text-align: center;
  font-size: 30px;
  display:none;
  
  margin: auto;
  padding-top: 70px;
}

.btn{
   
    float: left;
    padding: 40px;


}

#faces{
  height: 400px;

}


#footer{
  height: 200px;
  background-color: red;
}
